<!-- <link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="dash">          
<div class="grid-divs">
    <div class="div1" (click)="load()">
        <i class="fa-solid fa-chart-column color1"></i>
        <div class="sale">
            <div class="text">
                <p>total sales</p>
                <span>$25,024</span>
            </div>
            <div class="prog p81" data-value="81">
                <span data-value="81">81%</span>
            </div>
        </div>
        <p>last 24 hours</p>
    </div>
    <div class="div1" (click)="load()">
        <i class="fa-solid fa-chart-simple color2"></i>
        <div class="sale">
            <div class="text">
                <p>total expenses</p>
                <span>$14,160</span>
            </div>
            <div class="prog p62" data-value="62">
                <span data-value="62">62%</span>
            </div>
        </div>
        <p>last 24 hours</p>
    </div>
    <div class="div1" (click)="load()" >
        <i class="fa-solid fa-chart-pie color1"></i>
        <div class="sale">
            <div class="text">
                <p>total income</p>
                <span>$10,864</span>
            </div>
            <div class="prog p44" data-value="44" >
                <span data-value="44">44%</span>
            </div>
        </div>
        <p>last 24 hours</p>
    </div>
    
</div>

