<div class="recent">
    <h2 class="h2-recent">recent updates</h2>
    <div class="recent-info" id="recent">
        <div class="div1">
            <img src="team-01.png" alt="">
            <div class="text">
                <p><span>mike tyson</span> received his order of samsung a12 cover </p>
                <p>2 minutes ago</p>
            </div>
        </div>
        <div class="div1">
            <img src="team-02.png" alt="">
            <div class="text">
                <p><span>Gann saber</span> declined her order of samsung A15 </p>
                <p>5 minutes ago</p>
            </div>
        </div>
        <div class="div1">
            <img src="team-03.png" alt="">
            <div class="text">
                <p><span>Ali Hassan</span> received his order of airpods pro 2</p>
                <p>6 minutes ago</p>
            </div>
        </div>
    </div>
    <h2 class="h2-recent h23">sales analytics</h2>
    <div class="sales-anal" id="sales">
        
        <div class="div1">
            <i class="fa-solid fa-cart-shopping color1"></i>
        <div class="text">
            <p>online orders</p>
            <p class="second">last 24 hours</p>
        </div>
        <span class="dark f">+38%</span>
        <span>3849</span>
        </div>
        <div class="div1">
            <i class="fa-solid fa-bag-shopping color2"></i>
        <div class="text">
            <p>ofline orders</p>
            <p class="second">last 24 hours</p>
        </div>
        <span class="orange f" id="red">-8%</span>
        <span>1123</span>
        </div>
        <div class="div1">
            <i class="fa-solid fa-user color3"></i>
        <div class="text">
            <p>new customers</p>
            <p class="second">last 24 hours</p>
        </div>
        <span class="dark f">+18%</span>
        <span>3467</span>
        </div>
    </div>
    
        <button> <i class="fa-solid fa-plus"></i>Add new Product</button>
    
</div>
