
<div class="header" >
    <div class="container2" id="black-head">
        <div class="div1 none" id="changeicon">
            <img src="course-03.jpg" alt="">
            <span>Dash</span>
        </div>
        <div class="div2 hide">     
            <h2 id="h2">Dashboard</h2>
        <div class="date none" id="dat">
            <input type="date" id="date">
            <span>
                <i class="fa-solid fa-xmark" id="dele"></i>
            </span>
        </div>
        </div>
        <div class="head-recent">
            <div class="icons">
                <i class="fa-solid fa-sun" id="light"></i>
                <i class="fa-solid fa-moon" id="dark"></i>
            </div>
            <div class="welcome" id="wel">
                <div class="text">
                <p id="name">Hi,Toka</p>
                <span id="pos">admin</span>
                </div>
                <img src="avatar.png" alt="">
            </div>
        </div>
    </div>
</div>