<div class="navbar1"  id="navbar" >
    
        <i class='fa-solid fa-bars bar' (click)="show()"></i>
   
    <div class="div2 ">
        <a routerLink="dashboard" routerLinkActive="active">
              <i class="fa-solid fa-table-cells-large"></i> 
              Dashboard</a>
    </div>
    <div class="div3">
        <a routerLink="table" routerLinkActive="active"> 
            <i class="fa-solid fa-ethernet"></i>
            Recent orders</a>
    </div>
    <div class="div4 ">
        <a routerLink="form" routerLinkActive="active">
            <i class="fa-regular fa-square-check"></i>
            form</a>
    </div>
    <div class="div4">
        <a routerLinkActive="active">
            <i class="fa-solid fa-magnifying-glass-chart" ></i>
            analytics</a>
    </div>
    <div class="div4 ">
        <a routerLinkActive="active">
            <i class="fa-solid fa-envelope"></i>
            messages</a>
    </div>
    <div class="div4 ">
        <a routerLinkActive="active">
            <i class="fa-solid fa-clipboard-list"></i>
            products</a>
    </div>
    <div class="div5 ">
        <a routerLinkActive="active">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            log out</a>
    </div>
</div>
