<form action="">
    <div class="input-flex">
       <div class="name-input">
           <label for="name">Full Name</label>
           <input type="text" name="name"  id="name" placeholder="Jack Doe">
          </div>
          <div class="mail-input">
           <label for="mail">Email Address</label>
           <input type="email" name="mail"  id="mail" placeholder="Jackdoe@gmail.com">
          </div>
    </div>
    <div class="area">
       <label for="mess" >message</label>
    <textarea name="mess" id="mess" placeholder="what can we help you?"></textarea>
    </div>
    <div class="input-show">
       <input type="submit" value="send message">
    </div>
   </form>
