<div class="recnt-order">
    <h2 id="h22">Recent Order</h2>
<table id="table">
    <thead>
        <tr class="head ">
            <td class="hide">product name</td>
            <td>product number</td>
            <td>payment</td>
            <td>statu</td>
            <td class="hide"> </td>
        </tr>
    </thead>
    
   <tbody>
     
    <tr>
        <td class="hide">samsung a12 cover</td>
        <td>8392</td>
        <td>refunded</td>
        <td class="orange">declined</td>
        <td class="hide"><a href="">deatils</a></td>
    </tr>
    <tr>
        <td class="hide">samsung A15</td>
        <td>0073</td>
        <td>due</td>
        <td class="yellow">pending</td>
        <td class="hide"><a href="">deatils</a></td>
    </tr>
    <tr>
        <td class="hide">airpods pro 2</td>
        <td>4352</td>
        <td>due</td>
        <td class="yellow">pending</td>
        <td class="hide"><a href="">deatils</a></td>
    </tr>
    <tr>
        <td class="hide">mouse wireless</td>
        <td>0957</td>
        <td>paid</td>
        <td class="dark">delevired</td>
        <td class="hide"><a href="">deatils</a></td>
    </tr>
    <tr>
        <td class="hide">mouse wireless logitech</td>
        <td>8373</td>
        <td>paid</td>
        <td class="dark">delevired</td>
        <td class="hide"><a href="">deatils</a></td>
    </tr>
    <tr>
        <td class="hide">ram 16 ddr4</td>
        <td>1262</td>
        <td>paid</td>
        <td class="dark">delevired</td>
        <td class="hide"><a href="">deatils</a></td>
    </tr>
   </tbody>
</table>
</div>
